body, html, #root{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}



#root{
  background-color: #4695EA;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Inter', sans-serif;
  font-family: 'Poppins', sans-serif;
}

.overlay{
  margin-top: 50px;
  position: relative;
  width: 390px;
  height: 100%;
  background-image: url('./assets/overlay.svg');
  background-repeat: no-repeat;
  /* background-size: 100% 100%; */
  /* background-size: cover; */
  background-position: bottom;
}

button{
  background-color: transparent;
  outline: none;
  border: none;
}